.main-container {
  background-color: rgba(137, 43, 226, 0.115);


 &__title{
    font-size: 45px;
    color: rgb(33, 31, 31);
    text-shadow: 1px 1px 2px rgb(208, 204, 204);
    margin: auto;
    padding-top: 100px;
    font-weight: 600px;
  }
}
.feedback-box{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 30px;
  gap:20px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px gray ;
  justify-content: center;
  align-items: center;
  margin: 50px auto 10px;
  flex-wrap: wrap;

}

.feedback-box__navigation{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 0px;
}

.feedback-box__image{
  border-radius: 100px;
  object-fit: cover;
  width: 200px;
  height: 200px;
}
.feedback-box__name{

  font-size: 20px;
  font-weight: 800;
  color: #4e0a4f;

}
.feedback-box__job{

  color:#df84e0;

}
.feedback-box__text{
  color:rgb(146, 135, 143);

}
button{
  background: none;
  border: none;
}

button{
  width: 30px;
  height: 30px;
  &:hover{
    cursor: pointer;
  }
}
.surprise-btn{
  background-color: #2f2a2f;
  width: 150px;
  height: 30px;
  color:aliceblue;
  padding: 10px;
  &:hover{
    background-color: #df84e0;
  }

}

@media (max-width:1440px) {
  .main-container{
    padding: 200px;
    &__title{
      padding-top: 50px;
    }
  }
  .feedback-box{
    width: 500px;
  }
}
@media (max-width:1024px) {
  .main-container{
    padding: 50px;
    &__title{
      padding-top: 50px;
    }
  }
  
}
@media(max-width:768px){
  .main-container{
    padding: 20px;
    &__title{
      padding-top: 25px;
    }
  }
  .feedback-box{
    margin: 25px auto 5px;
   
    
  }
  .feedback-box__navigation{
    padding: 0px;
  }

}
@media (max-width:430px) {
  .main-container{
    padding: 20px;
    &__title{
      padding-bottom: 10px;
    }
  }
  .feedback-box{
    margin: 5px auto;
    padding: 20px;
    width: 350px;
    
  }
  
}
@media (max-width:400px) {
  .feedback-box{
    width: 75%;
  }
  
}