.main-container {
  background-color: rgba(137, 43, 226, 0.115);
  max-width: 100%;

 &__title{
    font-size: 45px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px black;
    border-bottom: 5px solid black;
    margin: auto;
    padding-top: 200px;
    font-weight: 600px;
  }
}
.feedback-box{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 30px;
  gap:20px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px gray ;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 50px auto;

}

.feedback-box__navigation{
  margin: 0 auto;
  padding: 25px 0px;
}

.feedback-box__image{
  border-radius: 100px;
  object-fit: cover;
  width: 200px;
  height: 200px;
}
.feedback-box__name{

  font-size: 20px;
  font-weight: 800;
  color: #4e0a4f;

}
.feedback-box__job{

  color:#df84e0;

}
.feedback-box__text{
  color:rgb(146, 135, 143)

}